<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 64.3 MB/s eta 0:00:00:00:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=bd43c84fd947e21c8b62737aee69c59b859aeedd48ac667ad018ccd6eb8f9032
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [2]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con , if_exists='replace', index=False,method="multi")

NameError: name 'con' is not defined

In [3]:
df.columns

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

In [4]:
df['Launch_Site'].unique()

array(['CCAFS LC-40', 'VAFB SLC-4E', 'KSC LC-39A', 'CCAFS SLC-40'],
      dtype=object)

**Note:This below code is added to remove blank rows from table**

In [7]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"** . 

   

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [8]:
df.columns

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

In [9]:
df['Launch_Site'].value_counts()

CCAFS SLC-40    34
CCAFS LC-40     26
KSC LC-39A      25
VAFB SLC-4E     16
Name: Launch_Site, dtype: int64


### Task 2


#####  Display 5 records where launch sites begin with the string 'KSC'

In [15]:
filtered_records = df[df['Launch_Site'].str.startswith('KSC')]

# Display the first 5 records
for index, record in filtered_records.head().iterrows():
    print(record)

Date                           2017-02-19
Time (UTC)                       14:39:00
Booster_Version             F9 FT B1031.1
Launch_Site                    KSC LC-39A
Payload                     SpaceX CRS-10
PAYLOAD_MASS__KG_                    2490
Orbit                           LEO (ISS)
Customer                       NASA (CRS)
Mission_Outcome                   Success
Landing_Outcome      Success (ground pad)
Name: 29, dtype: object
Date                  2017-03-16
Time (UTC)               6:00:00
Booster_Version      F9 FT B1030
Launch_Site           KSC LC-39A
Payload              EchoStar 23
PAYLOAD_MASS__KG_           5600
Orbit                        GTO
Customer                EchoStar
Mission_Outcome          Success
Landing_Outcome       No attempt
Name: 30, dtype: object
Date                           2017-03-30
Time (UTC)                       22:27:00
Booster_Version            F9 FT  B1021.2
Launch_Site                    KSC LC-39A
Payload                            SES-10
PAYLOAD_MASS__KG_                    5300
Orbit                                 GTO
Customer                              SES
Mission_Outcome                   Success
Landing_Outcome      Success (drone ship)
Name: 31, dtype: object
Date                           2017-05-01
Time (UTC)                       11:15:00
Booster_Version             F9 FT B1032.1
Launch_Site                    KSC LC-39A
Payload                           NROL-76
PAYLOAD_MASS__KG_                    5300
Orbit                                 LEO
Customer                              NRO
Mission_Outcome                   Success
Landing_Outcome      Success (ground pad)
Name: 32, dtype: object
Date                    2017-05-15
Time (UTC)                23:21:00
Booster_Version        F9 FT B1034
Launch_Site             KSC LC-39A
Payload              Inmarsat-5 F4
PAYLOAD_MASS__KG_             6070
Orbit                          GTO
Customer                  Inmarsat
Mission_Outcome            Success
Landing_Outcome         No attempt
Name: 33, dtype: object

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [16]:
df.columns

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

In [20]:
# Filter launches by NASA's CRS program
nasa_crs_launches = df[df['Booster_Version'].str.contains('NASA (CRS)')]
total_payload_mass_crs = nasa_crs_launches['PAYLOAD_MASS__KG_'].sum()

# Display the total payload mass carried by NASA CRS boosters
print("Total payload mass carried by NASA CRS boosters:", total_payload_mass_crs, "kg")

Total payload mass carried by NASA CRS boosters: 0 kg

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

In [4]:
df.columns

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [8]:
f9_v1_1_launches = df[df['Booster_Version'] == 'F9 v1.1']
average_payload_mass_f9_v1_1 = f9_v1_1_launches['PAYLOAD_MASS__KG_'].mean()
print("Average payload mass carried by booster version F9 v1.1:", average_payload_mass_f9_v1_1, "kg")

Average payload mass carried by booster version F9 v1.1: 2928.4 kg

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [13]:
successful_landings_ground_pad = df[df['Landing_Outcome'] == 'Success (ground pad)']
payload_filtered = successful_landings_ground_pad[(successful_landings_ground_pad['PAYLOAD_MASS__KG_'] > 4000) & (successful_landings_ground_pad['PAYLOAD_MASS__KG_'] < 6000)]
boosters_names = payload_filtered['Booster_Version']
print("Names of boosters with successful landing on ground pad and payload mass between 4000 and 6000:")
print(boosters_names)

Names of boosters with successful landing on ground pad and payload mass between 4000 and 6000:
32    F9 FT B1032.1
40    F9 B4 B1040.1
46    F9 B4 B1043.1
Name: Booster_Version, dtype: object

### Task 5

##### List the date where the succesful landing outcome in drone ship was acheived.


_Hint:Use min function_

In [10]:
successful_landings_drone_ship = df[df['Landing_Outcome'] == 'Success (drone ship)']
dates_successful_landings_drone_ship = successful_landings_drone_ship['Date']
print("Dates of successful landings on drone ship:")
print(dates_successful_landings_drone_ship)

Dates of successful landings on drone ship:
22    2016-04-08
23    2016-05-06
24    2016-05-27
27    2016-08-14
28    2017-01-14
31    2017-03-30
35    2017-06-23
36    2017-06-25
39    2017-08-24
41    2017-10-09
42    2017-10-11
43    2017-10-30
52    2018-04-18
53    2018-05-11
Name: Date, dtype: object

### Task 7




##### List the total number of successful and failure mission outcomes

In [16]:
mission_outcome_counts = df['Mission_Outcome'].value_counts()
print("Total number of successful mission outcomes:", mission_outcome_counts.get('Success', 0))
print("Total number of failure mission outcomes:", mission_outcome_counts.get('Failure', 0))

Total number of successful mission outcomes: 98
Total number of failure mission outcomes: 0

In [15]:
df.columns

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [18]:
max_payload_mass = df['PAYLOAD_MASS__KG_'].max()
booster_versions_max_payload = df[df['PAYLOAD_MASS__KG_'] == max_payload_mass]['Booster_Version']
booster_versions_max_payload_list = booster_versions_max_payload.tolist()
print("Booster versions with the maximum payload mass:", booster_versions_max_payload_list)

Booster versions with the maximum payload mass: ['F9 B5 B1048.4', 'F9 B5 B1049.4', 'F9 B5 B1051.3', 'F9 B5 B1056.4', 'F9 B5 B1048.5', 'F9 B5 B1051.4', 'F9 B5 B1049.5', 'F9 B5 B1060.2 ', 'F9 B5 B1058.3 ', 'F9 B5 B1051.6', 'F9 B5 B1060.3', 'F9 B5 B1049.7 ']

### Task 9


##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017
**Note: SQLLite does not support monthnames. So you need to use substr(Date,6,2) for month, substr(Date,9,2) for date, substr(Date,0,5),='2017' for year.**

In [20]:
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month_name()
df_2017 = df[df['Date'].dt.year == 2017]
successful_landings_ground_pad_2017 = df_2017[(df_2017['Landing_Outcome'] == 'Success (ground pad)')]
filtered_records = successful_landings_ground_pad_2017[['Month', 'Landing_Outcome', 'Booster_Version', 'Launch_Site']]
print("Records displaying month names, successful landing outcomes on the ground pad, booster versions, and launch sites for the months in year 2017:")
print(filtered_records)

Records displaying month names, successful landing outcomes on the ground pad, booster versions, and launch sites for the months in year 2017:
        Month       Landing_Outcome Booster_Version   Launch_Site
29   February  Success (ground pad)   F9 FT B1031.1    KSC LC-39A
32        May  Success (ground pad)   F9 FT B1032.1    KSC LC-39A
34       June  Success (ground pad)   F9 FT B1035.1    KSC LC-39A
38     August  Success (ground pad)   F9 B4 B1039.1    KSC LC-39A
40  September  Success (ground pad)   F9 B4 B1040.1    KSC LC-39A
44   December  Success (ground pad)  F9 FT  B1035.2  CCAFS SLC-40

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>